// Reccurent sizes
$default-margin: 5px;

// Colors
$photoshop-dark-blue: rgb(0, 29, 52);
$photoshop-light-blue: rgba(31, 66, 92, 0.749);
$background-dark: rgb(7, 21, 34);
$background-light: rgba(128, 128, 128, 0.702);
$font-light: rgb(128, 128, 128);
$font-dark: rgb(47, 47, 47);

// Update fonts
$family-code: "Sans Forgetica", "Raleway", serif;
$family-sans-serif: "Raleway", sans-serif;

.members {
  display: flex;
  flex-direction: column;
  margin: 10px 50px 0 50px ;
  min-width: 1000;
}

.member-container:nth-child(even) {
  margin-left: auto;
  margin-right: 50px;
  justify-content: right;

  .member.img {
    order: 1;
  }

  #name {
    padding-right: .5cm;
    text-align: right;
  }

  .separator {
    margin-left: 10%;
    margin-right: 5%;
  }
}

.member-container {
  position: relative;
  width: 75%;
  min-width: 300px;
  display: inline-flex;
  flex-direction: row;
  background: $background-light;
  border: 1px solid $photoshop-light-blue;
  border-radius: 5px;
  margin: 10px 10px 10px 50px;

  .member.img {
    position: relative;
    border-radius: 10%;
    margin: $default-margin;
    float: left;
    height: 100px;
  }

  .member.description {
    position: relative;
    display: flexbox;
    flex-direction: column;
    margin: $default-margin;
    padding: 0 $default-margin;
    color: greenyellow;

    #name {
      font-size: 18px;
      font-weight: 600;
      color: $font-dark;
    }

    #text {
      font-style: italic;
      color: $font-dark;
    }

    .separator {
      color: $photoshop-dark-blue;
      border: 1px solid $font-dark;
      border-radius: 5px;
      margin-right: 10%;
      margin-left: 5%;
    }
  }

}

.navbar-epita {
  position:fixed;
  top: 0px;
  z-index: 1000000;
  width: 100%;
  height: 80px;
  background-color: $background-dark;
  border: 2px solid black;
  border-bottom: 1px solid rgba(128, 128, 128, 0.15);
  display: inline-flex;
  justify-content: space-around;

  .navbar.left {
    border: 2px solid green;
    position: relative;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: flex-start;

    #logo {
      float: left;
      border: 2px solid grey;
    }

    #pages {
      border: 2px solid red;
      color: white;
      flex-grow: 1;
      list-style: none;

      li {
        padding: 2px;
        color: inherit;
        text-decoration: none;
        text-align: center;
        display: inline-block;

        a {
          text-decoration: none;
          color: inherit;
        }
      }

      li:hover {
        border-bottom: 1px solid white;
      }
    }
  }

  .navbar.navlinks {
    border: 2px solid green;
    color: white;
    list-style:none;
    font: 30px "sans-serif";
    display: inline-flex;
    justify-content: flex-end;
    width: auto;
    position: relative;

    a {
      position: relative;
      height: 100%;
      color: inherit;
      text-decoration: none;
      margin: $default-margin;
    }

    a:hover {
      background-color: rgba(128, 128, 128, 0.15);
      text-decoration: none;
      cursor: pointer;
    }
  }


}

.footer {
  background-color: $background-dark;
  color: $font-light;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .navlinks {
    list-style: none;
    flex-direction: row;
  }

  .link {
    width: auto;
    margin: $default-margin;
    font-size: 17px;
  }

  .link:hover {
    color: lightgray;
  }

  #license {
    margin: 2px 25% 0 25%;
    font-size: 11px;
    text-align: center;
  }
}

.project {
  .section {
    padding: 0 1cm 0 1cm;

    #title {
      background-color: $background-dark;
      border-radius: 5px;
      border-bottom: 2px solid $photoshop-light-blue;
      color: $font-light;
      margin-left: 2cm;
      padding: 5px;
      display: inline;
      white-space: nowrap;
    }

    #content {
      font-size: 17px;
      min-width: 500px;
      background: $background-light;
      border-radius: $default-margin;
      border: 1px solid $photoshop-dark-blue;
      padding: 8px;
      margin: 0.5cm 0 1cm 0;
    }
  }
}

.page-title {
  margin: 1cm 0 .5cm 0;
  display: flex;
  justify-content: center;
  min-width: 500px;

  h1 {
    border: 2px solid $photoshop-light-blue;
    background-color: $background-dark;
    border-radius: 5px;
    font-size: 40px;
    color: $font-light;
    padding: 12px;
  }
}

.homepage {
  display: inline-flex;
  flex-direction: column;
  justify-items: center;
  width: 500px;
  margin: auto;
  padding: 10px;
  color: $font-light;
  text-align: center;
  border: 2px solid $photoshop-light-blue;

  h1 {
    font-size: 40px;
  }

  hr {
    margin-top: -1px;
    width: 80%;
    border: 1px solid $photoshop-light-blue;
  }
}
