$default-margin: 5px;

.member-container {
    
    flex-basis: 100%;
    position: relative;
    max-width:1000px;
    margin: auto;
    display: inline-block;
    background: grey;
    margin: 10px;

    .member.main-div {
        display: inline-flex;
        border: 3px solid black;
        flex-direction: row;
    }

    .member.img {
        position: relative;
        border-radius: 10%;
        border: 3px solid red;
        margin: $default-margin;
        float: left;
        height: 100px;
    }

    .member.description {
        display: flexbox;
        flex-direction: column;
        border: 3px solid greenyellow;
        margin: $default-margin;
        padding: 0 $default-margin;
        color: greenyellow;

        #name {
            font-size: 18px;
            font-weight: 600;
        }

        #text {
            font-style: italic;
            color: rgb(47, 47, 47);
        }
    }
}