.members {
  display: flex;
  flex-direction: column;
  margin: 10px 50px 0 50px;
  min-width: 1000;
}

.member-container:nth-child(even) {
  margin-left: auto;
  margin-right: 50px;
  justify-content: right;
}
.member-container:nth-child(even) .member.img {
  order: 1;
}
.member-container:nth-child(even) #name {
  padding-right: 0.5cm;
  text-align: right;
}
.member-container:nth-child(even) .separator {
  margin-left: 10%;
  margin-right: 5%;
}

.member-container {
  position: relative;
  width: 75%;
  min-width: 300px;
  display: inline-flex;
  flex-direction: row;
  background: rgba(128, 128, 128, 0.7);
  border: 1px solid rgba(30, 65, 90, 0.75);
  border-radius: 5px;
  margin: 10px 10px 10px 50px;
}
.member-container .member.img {
  position: relative;
  border-radius: 10%;
  margin: 5px;
  float: left;
  height: 100px;
}
.member-container .member.description {
  position: relative;
  display: flexbox;
  flex-direction: column;
  margin: 5px;
  padding: 0 5px;
  color: greenyellow;
}
.member-container .member.description #name {
  font-size: 18px;
  font-weight: 600;
  color: #2f2f2f;
}
.member-container .member.description #text {
  font-style: italic;
  color: #2f2f2f;
}
.member-container .member.description .separator {
  color: #001d34;
  border: 1px solid #2f2f2f;
  border-radius: 5px;
  margin-right: 10%;
  margin-left: 5%;
}

.navbar-epita {
  position: fixed;
  top: 0px;
  z-index: 1000000;
  width: 100%;
  height: 80px;
  background-color: #071522;
  border: 2px solid black;
  border-bottom: 1px solid rgba(128, 128, 128, 0.15);
  display: inline-flex;
  justify-content: space-around;
}
.navbar-epita .navbar.left {
  border: 2px solid green;
  position: relative;
  text-transform: uppercase;
  display: inline-flex;
  justify-content: flex-start;
}
.navbar-epita .navbar.left #logo {
  float: left;
  border: 2px solid grey;
}
.navbar-epita .navbar.left #pages {
  border: 2px solid red;
  color: white;
  flex-grow: 1;
  list-style: none;
}
.navbar-epita .navbar.left #pages li {
  padding: 2px;
  color: inherit;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}
.navbar-epita .navbar.left #pages li a {
  text-decoration: none;
  color: inherit;
}
.navbar-epita .navbar.left #pages li:hover {
  border-bottom: 1px solid white;
}
.navbar-epita .navbar.navlinks {
  border: 2px solid green;
  color: white;
  list-style: none;
  font: 30px "sans-serif";
  display: inline-flex;
  justify-content: flex-end;
  width: auto;
  position: relative;
}
.navbar-epita .navbar.navlinks a {
  position: relative;
  height: 100%;
  color: inherit;
  text-decoration: none;
  margin: 5px;
}
.navbar-epita .navbar.navlinks a:hover {
  background-color: rgba(128, 128, 128, 0.15);
  text-decoration: none;
  cursor: pointer;
}

.footer {
  background-color: #071522;
  color: gray;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer .navlinks {
  list-style: none;
  flex-direction: row;
}
.footer .link {
  width: auto;
  margin: 5px;
  font-size: 17px;
}
.footer .link:hover {
  color: lightgray;
}
.footer #license {
  margin: 2px 25% 0 25%;
  font-size: 11px;
  text-align: center;
}

.project .section {
  padding: 0 1cm 0 1cm;
}
.project .section #title {
  background-color: #071522;
  border-radius: 5px;
  border-bottom: 2px solid rgba(30, 65, 90, 0.75);
  color: gray;
  margin-left: 2cm;
  padding: 5px;
  display: inline;
  white-space: nowrap;
}
.project .section #content {
  font-size: 17px;
  min-width: 500px;
  background: rgba(128, 128, 128, 0.7);
  border-radius: 5px;
  border: 1px solid #001d34;
  padding: 8px;
  margin: 0.5cm 0 1cm 0;
}

.page-title {
  margin: 1cm 0 0.5cm 0;
  display: flex;
  justify-content: center;
  min-width: 500px;
}
.page-title h1 {
  border: 2px solid rgba(30, 65, 90, 0.75);
  background-color: #071522;
  border-radius: 5px;
  font-size: 40px;
  color: gray;
  padding: 12px;
}

/*# sourceMappingURL=App.css.map */
